{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [
    {kura, {git, "https://github.com/Taure/kura.git", {tag, "v2.0.0"}}},
    {esqlite, "~> 0.9"}
]}.

{project_plugins, [
    erlfmt,
    rebar3_hex,
    rebar3_ex_doc,
    rebar3_lint,
    rebar3_hank,
    covertool,
    {rebar3_audit, "~> 0.2"},
    {rebar3_sbom,
        {git, "https://github.com/Taure/rebar3_sbom.git", {branch, "feat/include-otp-components"}}}
]}.

{covertool, [{coverdata_files, ["eunit.coverdata"]}]}.

{erlfmt, [write]}.

{hank, [
    {ignore, [
        {"test/**", [unnecessary_function_arguments]}
    ]}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{dialyzer, [
    {warnings, [error_handling, unmatched_returns]},
    {plt_extra_apps, [esqlite, kura]}
]}.

{eunit_opts, [verbose]}.

{cover_enabled, true}.
